@{
    ViewData["Title"] = "About";
}
<link rel="stylesheet" type="text/css" href="~/Blog.css" asp-append-version="true">

<main class="main">
    <div class="page-title">
      <div class="container d-lg-flex justify-content-between align-items-center">
        <h1 class="mb-2 mb-lg-0">About</h1>
      </div>
    </div>

    <section id="about" class="about section py-5">
      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-6 content" data-aos="fade-up" data-aos-delay="100">
            <p class="who-we-are">Who We Are</p>
            <h3>The Ultimate Hub for Books, Publishing & Dialogue</h3>
            <p class="fst-italic">
            At Qaro2a, we are a premier literary hub shaping the future of reading. As a dynamic podcast, insightful book reviewer, and forward thinking publisher, we are dedicated to championing books and empowering the entire literary ecosystem. Through engaging discussions and strategic support, we bridge the gap between creative authors and passionate readers.
            </p>
            <ul>
              <li><i class="bi bi-check-circle"></i> <span>Leading Podcast & Reviews: Decoding stories and analyzing books with a modern, engaging approach.</span></li>
              <li><i class="bi bi-check-circle"></i> <span>Publishers of Fresh Voices: Bringing impactful contemporary literature to light and supporting authors.</span></li>
              <li><i class="bi bi-check-circle"></i> <span>Advocates for the Reading Community: Fostering a powerful, supportive ecosystem for every book lover.</span></li>
            </ul>
          </div>

          <div class="col-lg-6 about-images" data-aos="fade-up" data-aos-delay="200">
            <div class="row gy-4">
              <div class="col-lg-6">
                <img src="@Url.Content("~/blog_img/about-hero.jpeg")" class="img-fluid" alt="Qaro2a team" asp-append-version="true" />
              </div>
              <div class="col-lg-6">
                <div class="row gy-4">
                  <div class="col-lg-12">
                    <img src="@Url.Content("~/blog_img/about-gallery-1.png")" class="img-fluid" alt="Qaro2a event" asp-append-version="true" />
                  </div>
                  <div class="col-lg-12">
                    <img src="@Url.Content("~/blog_img/about-gallery-2.png")" class="img-fluid" alt="Qaro2a community" asp-append-version="true" />
                  </div>
                </div>
              </div>
            </div>

          </div>

        </div>

      </div>
    </section>

    <section id="team" class="team section py-5">

      <div class="container section-title" data-aos="fade-up">
        <div class="section-title-container d-flex align-items-center justify-content-between">
          <h2>Team</h2>
        </div>
      </div>

      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
            <div class="team-member d-flex align-items-start">
              <div class="pic"><img src="@Url.Content("~/blog_img/blog_members/Alia.jpg")" class="img-fluid" alt="Alia" asp-append-version="true" /></div>
              <div class="member-info">
                <h4>Alia</h4>
                <span>Title</span>
                <p>Explicabo voluptatem mollitia et repellat qui dolorum quasi</p>
                <div class="social">
                  <a href=""><i class="bi bi-twitter-x"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">
            <div class="team-member d-flex align-items-start">
              <div class="pic"><img src="@Url.Content("~/blog_img/team/Aia.png")" class="img-fluid" alt="Aia" asp-append-version="true" /></div>
              <div class="member-info">
                <h4>Aia</h4>
                <span>Title</span>
                <p>Aut maiores voluptates amet et quis praesentium qui senda para</p>
                <div class="social">
                  <a href=""><i class="bi bi-twitter-x"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="300">
            <div class="team-member d-flex align-items-start">
              <div class="pic"><img src="@Url.Content("~/blog_img/team/Mamdouh.png")" class="img-fluid" alt="Mamdouh" asp-append-version="true" /></div>
              <div class="member-info">
                <h4>Mamdouh</h4>
                <span>Title</span>
                <p>Quisquam facilis cum velit laborum corrupti fuga rerum quia</p>
                <div class="social">
                  <a href=""><i class="bi bi-twitter-x"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="400">
            <div class="team-member d-flex align-items-start">
              <div class="pic"><img src="@Url.Content("~/blog_img/team/Rana.png")" class="img-fluid" alt="Rana" asp-append-version="true" /></div>
              <div class="member-info">
                <h4>Rana</h4>
                <span>Title</span>
                <p>Dolorum tempora officiis odit laborum officiis et et accusamus</p>
                <div class="social">
                  <a href=""><i class="bi bi-twitter-x"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>
 <div class="col-lg-6" data-aos="fade-up" data-aos-delay="400">
            <div class="team-member d-flex align-items-start">
              <div class="pic"><img src="@Url.Content("~/blog_img/team/Nouran.png")" class="img-fluid" alt="Rana" asp-append-version="true" /></div>
              <div class="member-info">
                <h4>Nouran</h4>
                <span>Title</span>
                <p>Dolorum tempora officiis odit laborum officiis et et accusamus</p>
                <div class="social">
                  <a href=""><i class="bi bi-twitter-x"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

    </section>

  </main>
